@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div style="margin: 0 auto;"><img src="@Links.Content.images.logo_605x182_jpg"/></div>
    <p class="lead">Mauris pellentesque, augue ac hendrerit ultricies, quam nisl varius diam, sed venenatis lorem ex tincidunt massa. Phasellus et tellus nec dui aliquam finibus sit amet nec enim. Etiam eget neque elit.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Accumsan Velit</h2>
        <p>In accumsan velit non dolor ultrices ullamcorper. Aenean mi erat, viverra eu ante vitae, aliquam condimentum risus. Ut quam odio, faucibus et varius et, congue ut libero. Etiam accumsan justo at elementum ultricies. Vestibulum lectus nulla, auctor mollis mi non, sollicitudin congue purus. Mauris sollicitudin nisi augue, sed suscipit est viverra id. Curabitur condimentum metus nisi, vitae semper odio mattis sit amet. Sed felis eros, hendrerit eget arcu non, pellentesque gravida tortor. Aliquam erat volutpat. Donec id accumsan tortor, vel rutrum nunc.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Blandit Magna</h2>
        <p>In in blandit magna, eget aliquet magna. Proin id maximus diam. Quisque posuere sed ligula eget fringilla. Ut tincidunt egestas tellus, a hendrerit metus volutpat eget. Praesent vel sapien arcu. Donec id mi eget magna gravida scelerisque. Mauris id ligula a orci feugiat dignissim ut eu turpis. Mauris pellentesque, augue ac hendrerit ultricies, quam nisl varius diam, sed venenatis lorem ex tincidunt massa. Phasellus et tellus nec dui aliquam finibus sit amet nec enim. Etiam eget neque elit. Aliquam nec erat libero. Sed finibus tellus augue, quis gravida nibh mollis ut. Sed molestie diam urna, ac hendrerit lectus luctus in. </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lobortis Ligula</h2>
        <p>Ut vel lobortis ligula. Ut vel purus risus. Vestibulum fringilla porttitor lobortis. Donec semper, tortor nec dictum venenatis, nisl augue vestibulum enim, at dictum velit magna eget arcu. Nam rhoncus diam id arcu consectetur aliquet. Pellentesque rutrum sollicitudin purus vel suscipit. Phasellus mollis faucibus augue, sed ornare dui egestas nec. In dictum nunc sapien, ut semper risus consequat nec. Nulla facilisi. Vestibulum posuere lectus ac porttitor tempor. Maecenas mauris purus, pulvinar sed velit ac, auctor egestas felis. Nulla dictum tortor at felis cursus, sit amet porttitor velit rhoncus. Curabitur accumsan augue eget nulla ultrices, id laoreet lacus aliquet. Suspendisse faucibus vel lectus vel ultrices. Integer ornare ipsum quis auctor volutpat.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>