<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mango-web.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mango-web.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mango-web</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mango-web</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=lfgqnrepad.database.windows.net,1433;Initial Catalog=mango_db;Persist Security Info=True;User ID=webuser@lfgqnrepad;Password=KFUNJLU9yDjMaqK2" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Mango.Web.Models.ApplicationDbContext, Mango.Web" MigrationConfiguration="Mango.Web.Migrations.Configuration, Mango.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MangoContext" Order="2" Enabled="True">
          <Destination Path="Data Source=lfgqnrepad.database.windows.net,1433;Initial Catalog=mango_db;Persist Security Info=True;User ID=webuser@lfgqnrepad;Password=KFUNJLU9yDjMaqK2" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Mango.Core.Entity.MangoContext, Mango.Core" MigrationConfiguration="Mango.Core.Migrations.Configuration, Mango.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=lfgqnrepad.database.windows.net,1433;Initial Catalog=mango_db;Persist Security Info=True;User ID=webuser@lfgqnrepad;Password=KFUNJLU9yDjMaqK2</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MangoContext-Web.config Connection String">
      <ParameterValue>Data Source=lfgqnrepad.database.windows.net,1433;Initial Catalog=mango_db;Persist Security Info=True;User ID=webuser@lfgqnrepad;Password=KFUNJLU9yDjMaqK2</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>