/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [AddressId]
      ,[Status]
      ,[AddressType]
      ,[Nickname]
      ,[FirstName]
      ,[LastName]
      ,[Company]
      ,[Attn]
      ,[Phone]
      ,[AddressLine1]
      ,[AddressLine2]
      ,[City]
      ,[State]
      ,[Zip]
      ,[Country]
      ,[DateCreated]
  FROM [mango].[dbo].[Address]