
@{
    ViewBag.Title = "Checkout Cancel";
}
    <h3 class="text-warning"><i class="fa fa-warning fa-fw warning"></i> Checkout Cancelled</h3>
    <p>
        <h4>Your purchase has been cancelled.</h4>
    </p>
<hr/>
   <a class="btn btn-primary" href="@Url.Action(MVC.StoreArea.Cart.Index())"><i class="fa fa-angle-left fa-fw"></i> View My Shopping Cart</a>