
@{
    ViewBag.Title = "CheckoutComplete";
}

<h2>Checkout Complete</h2>

<p>Your order is successfully completed. The details of the transaction are given below.</p>
<br />
<label>Order ID: </label>   @ViewBag.OrderId  
<br />
<label>Transaction ID: </label>   @ViewBag.TransactionId
  
