@model Mango.Web.Areas.Store.Models.CartCustomerViewModel
@{
    ViewBag.Title = "Address";
}


<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>Checkout</h1>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-6">
                @Html.EditorFor(model => model.Customer)
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                @Html.EditorFor(model => model.ShippingAddress)
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <input type="submit" value="Checkout" class="btn btn-default"/>
            </div>
        </div>
    }
</div>


@section scripts {
    @*<script>
        $(window).load(function () {
            $('#same-as-billing').click(function () {
                console.log("checked - " + $('#same-as-billing:checked').length);
                
                if ($('#same-as-billing:checked').length === 1) {

                    $('input[type=text][id^="Billing_"],select[id^="Billing_"]').each(function (i, element) {
                        var name = element.id.replace("Billing_", "Shipping_");
                        console.log(name + " - " + $(element).val());
                        $('#' + name).val($(element).val());
                    });
                } else {
                    //Clear on uncheck

                    $('input[type=text][id^="Shipping_"],select[id^="Shipping_"]').each(function (i, element) {
                        //var name = element.id.replace("Billing_", "Shipping_");
                        if (name.indexOf("State") > 0) {
                            $('#' + name).val("AL");
                        } else {
                            $('#' + name).val($(element).val(""));
                        }
                    });
                };

            });
        });
        
    </script>*@
}