@using System.Globalization
@model Mango.Web.Areas.Admin.Models.ProductFormViewModel
@{
    ViewBag.Title = "Products - Edit";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", MVC.Home.Index())</li>
    <li>@Html.ActionLink("Products", MVC.Admin.Product.List())</li>
    <li class="active">@Html.ActionLink("Edit", MVC.Admin.Product.Edit(Model.ProductId))</li>
</ol>

<h2>Edit Product</h2>

@Html.EditorForModel()
