<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="PayPal:IsSandbox" value="true"/>
    <add key="PayPal:APIUsername" value="etchieve_api1.att.net"/>
    <add key="PayPal:APIPassword" value="R4CDVCHN693TEQCR"/>
    <add key="PayPal:APISignature" value="AzhPJdv3EHHh6-RjLN8PxGMuXvNzAniQzU2m57.VbIhMZ4MziEvJNi07"/>
    <add key="PayPal:CurrencyCode" value="USD"/>
    <add key="PayPal:BrandName" value="etchieve.com"/>
    <add key="PayPal:ReturnURL" value="http://{host}/Payment/CheckoutReview"/>
    <add key="PayPal:CancelURL" value="http://{host}/Payment/CheckoutCancel"/>
  </appSettings>
</configuration>