
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-4">
        <h2>Data</h2>
        <ul>
            <li><a href="@Url.Action(MVC.Admin.Product.List())">Products</a></li>
            <li><a href="@Url.Action(MVC.Admin.Product.List())">Product Categories</a></li>
        </ul>
        
        
    </div>
    <div class="col-md-4">
        <h2>Blandit Magna</h2>
        <p>In in blandit magna, eget aliquet magna. Proin id maximus diam. Quisque posuere sed ligula eget fringilla. Ut tincidunt egestas tellus, a hendrerit metus volutpat eget. Praesent vel sapien arcu. Donec id mi eget magna gravida scelerisque. Mauris id ligula a orci feugiat dignissim ut eu turpis. Mauris pellentesque, augue ac hendrerit ultricies, quam nisl varius diam, sed venenatis lorem ex tincidunt massa. Phasellus et tellus nec dui aliquam finibus sit amet nec enim. Etiam eget neque elit. Aliquam nec erat libero. Sed finibus tellus augue, quis gravida nibh mollis ut. Sed molestie diam urna, ac hendrerit lectus luctus in. </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lobortis Ligula</h2>
        <p>Ut vel lobortis ligula. Ut vel purus risus. Vestibulum fringilla porttitor lobortis. Donec semper, tortor nec dictum venenatis, nisl augue vestibulum enim, at dictum velit magna eget arcu. Nam rhoncus diam id arcu consectetur aliquet. Pellentesque rutrum sollicitudin purus vel suscipit. Phasellus mollis faucibus augue, sed ornare dui egestas nec. In dictum nunc sapien, ut semper risus consequat nec. Nulla facilisi. Vestibulum posuere lectus ac porttitor tempor. Maecenas mauris purus, pulvinar sed velit ac, auctor egestas felis. Nulla dictum tortor at felis cursus, sit amet porttitor velit rhoncus. Curabitur accumsan augue eget nulla ultrices, id laoreet lacus aliquet. Suspendisse faucibus vel lectus vel ultrices. Integer ornare ipsum quis auctor volutpat.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>

