<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ImageBlobConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mangoassets;AccountKey=VoyVSRbfxISONW6I0yq+p7ptlU5EZkh/VNKIcJ5nPnxjCRCX6iEju+Agi53JyXQ2mWp1sMKHaRCHiBs7XPv+0g=="/>
  </appSettings>
</configuration>