/* ==========================================================================
   Project Mango - Etchieve.com
   ========================================================================== */

body {
    font-family: 'Droid Sans', Arial, sans-serif;
    font-size: 13px;
    background: url('images/background.png') #fefefe top left no-repeat;
}

hr {
    border-top: 1px dotted #ccc;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.splash {
    position: absolute;
    width: 45%;
    max-height: 448px;
    max-width: 395px;
    height: auto;
    top: -40px;
    z-index: 10;
    left: 0;
}

.carousel {
    width: 55%;
    margin-left: 45%;
}

.carousel-control, .carousel-indicators, .carousel-caption, .carousel-control.right, .carousel-control.left {
    z-index: 100;
    background: transparent;
    display: none;
}

.jumbotron {
    padding: 0;
    margin: 0;
    background: #A9B3BC;
}

    .jumbotron .container {
        position: relative;
    }

    .jumbotron p {
        font-size: inherit !important;
        margin: 0;
        z-index: 5;
    }

.divider {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    color: #000;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
    margin-bottom: 25px;
    background: #E3E3E3;
}

.testimonials div {
    padding: 10px 20px;
}

.img-thumbnail, .thumbnail img {
    max-height: 165px;
    border: 0;
}

.products div.item {
    height: 100%;
    min-height: 210px;
    max-height: 220px;
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    margin: 15px 0;
    border-radius: 3px;
    overflow: hidden;
}


.products div.btn-allproducts {
    height: 100%;
    margin: 15px 0;
    min-height: 34px;
    display: table;
    border-radius: 3px;
}

    .products div.btn-allproducts a {
        color: #fff;
        display: table-cell;
        vertical-align: middle;
    }


.products div.item:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    border: 1px solid #ccc;
}

    .products div.item:hover img {
        padding: 20px;
    }

.products img {
    width: auto;
    max-height: 153px;
    height: auto;
}

@media (min-width: 768px) and (max-width: 992px) {
    .products div.btn-allproducts {
        height: 100%;
        margin: 15px 0 !important;
        min-height: 210px;
        max-height: 220px;
    }
}


.item span.price {
    position: absolute;
    bottom: 34px;
    right: -1px;
    background: #D9534F;
    border: 1px solid #ddd;
    display: block;
    padding: 3px 8px;
    -webkit-border-top-left-radius: 2em;
    -webkit-border-bottom-left-radius: 2em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 0 .327em 0;
    z-index: 54;
}

.item span.description {
    display: none;
}

.item:hover span.description {
    display: block;
    position: absolute;
    top: 0; background: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px 10px 20px 10px;
    height: 80%; font-style: italic;
    z-index: 40;
}


.item h2 {
    position: absolute;
    bottom: 0;
    padding: 16px 10px 12px 10px;
    font-size: 1.2em !important;
    margin: 0;
    text-align: center;
    font-family: 'Vollkorn', 'Lucida Sans', cursive;
    font-style: italic;
    width: 100%;
    text-overflow: ellipsis;
    background: #EDEFF1;
    border-top: 1px solid #ddd;
    z-index: 52;
}

.item p {
    font-size: 1.2em !important;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Vollkorn', cursive;
    font-style: italic;
    width: 100%;
}


.steps {
    margin: 40px 0 0 0;
}

.list-group {
    box-shadow: none;
}

.list-group-item {
    background: transparent;
    border-width: 0 0 1px 0;
    border-style: dotted;
}

    .list-group-item:last-child {
        border: 0;
    }

    .list-group-item h4 {
        color: #545454;
        font-family: 'Lobster', serif;
        /*font-family: 'Vollkorn', cursive;
    font-style: italic;*/
        font-size: 2em;
    }

    .list-group-item span {
        width: 50px;
        height: 50px;
        -ms-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        background: #54697E;
        margin: 0 10px 10px 10px;
        font-size: 25px;
        font-family: 'Lobster', serif;
        color: #fff;
    }

.steps img {
    margin-right: 0px;
}

footer img {
    margin-left: 10px;
    width: 50px;
    height: auto;
}

#categories.container {
    padding-top: 20px;
}

#cart {
    margin-top: 20px;
}

    #cart h5 {
        text-decoration: underline;
        color: #990000;
        font-style: italic;
    }

textarea {
    margin: 10px 0 !important;
}

/*output*/
.container.output {
    margin-top: 20px;
}





h2.price {
    margin: 0;
}

.section-title {
    background: #EDEFF1;
    color: #5D697E;
    padding: 3px 5px;
    display: block;
    width: 100%;
    text-align: left;
    font-weight: bold;
}

/*logo icons*/
.icons {
    text-align: center;
    vertical-align: middle;
}

    .icons div {
        display: inline-block;
        border: 3px solid transparent;
        margin: 2px;
        vertical-align: middle;
    }

    .icons img {
        height: auto;
        width: 100%;
        max-width: 40px;
        max-height: 40px;
        vertical-align: middle;
    }

    .icons .active {
        border: 3px solid #7F9293 !important;
        display: inline-block;
    }

/*footer css*/
.full {
    width: 100%;
}

.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}

.footer {
    background: #EDEFF1;
    height: auto;
    padding-bottom: 30px;
    margin-top: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}

    .footer p {
        margin: 0;
    }

    .footer img {
        max-width: 100%;
    }

    .footer h3 {
        border-bottom: 1px solid #BAC1C8;
        color: #54697E;
        font-size: 13px;
        font-weight: 600;
        line-height: 27px;
        padding: 30px 0 0px;
        text-transform: uppercase;
    }

    .footer ul {
        font-size: 13px;
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        margin-top: 15px;
        color: #7F8C8D;
    }

        .footer ul li a {
            padding: 0;
            display: block;
        }

    .footer a {
        color: #78828D;
    }

.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

.newsletter-box input#appendedInputButton {
    background: #FFFFFF;
    display: inline-block;
    float: left;
    height: 30px;
    clear: both;
    width: 100%;
}

.newsletter-box .btn {
    border: medium none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    height: 30px;
    margin-top: 5px;
    padding: 0;
    width: 100%;
    color: #fff;
}

.newsletter-box {
    overflow: hidden;
}

.btn-gray {
    background: #A9B3BC;
    color: #fff;
}

    .btn-gray:hover {
        background: #2C3E50;
        color: #fff;
    }

.social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

    .social li:hover {
        transform: scale(1.15) rotate(360deg);
        -webkit-transform: scale(1.1) rotate(360deg);
        -moz-transform: scale(1.1) rotate(360deg);
        -ms-transform: scale(1.1) rotate(360deg);
        -o-transform: scale(1.1) rotate(360deg);
    }

    .social li a {
        color: #EDEFF1;
    }

    .social li:hover {
        border: 2px solid #2c3e50;
        background: #2c3e50;
    }

    .social li a i {
        font-size: 16px;
        margin: 0 0 0 9px;
        color: #EDEFF1 !important;
    }

.footer-bottom {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .footer-bottom p.pull-left {
        padding-top: 6px;
    }

.payments {
    font-size: 1.5em;
}
