/* ==========================================================================
   Project Mango - Etchieve.com
   ========================================================================== */
body {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 13px;
}

hr {
    border-top: 1px dotted #ccc;
}

.navbar-form .form-control {
    background: #000;
    border: 1px solid #555;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.splash {
    position: absolute;
    width: 45%;
    max-height: 448px;
    max-width: 395px;
    height: auto;
    top: -40px;
    z-index: 10;
    left: 0;
}

.carousel {
    width: 55%;
    margin-left: 45%
}

.carousel-control, .carousel-indicators, .carousel-caption, .carousel-control.right, .carousel-control.left {
    z-index: 100;
    background: transparent;
    display: none;
}

.jumbotron {
    padding: 28px 0;
    margin: 30px 0 0;
    background: -webkit-linear-gradient(#5d5d5d, #cbcbcb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#5d5d5d, #cbcbcb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#5d5d5d, #cbcbcb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5d5d5d, #cbcbcb); /* Standard syntax */

}

.jumbotron .container {
    position: relative;
}

.jumbotron p {
    font-size: inherit !important;
    margin: 0;
    z-index: 5;
}

.divider {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    color: #000;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
    margin-bottom: 25px;
    background: #efefef;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2)
}

.testimonials div {
    padding: 10px 20px;
}

.img-thumbnail, .thumbnail img {
    max-height: 165px;
    border: 1px solid #fff;
}

.img-thumbnail:hover, .thumbnail:hover {
    border: 1px solid #999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

.item h2, .item p {
    font-size: 1.2em !important;
    margin: 0;
    padding: 5px;
    text-align: center;
    font-family: georgia, times, serif;
    font-style: italic;
}

.steps {
    margin: 40px 0 0 0;
}

.list-group {
    box-shadow: none;
}

.list-group-item {
    background: transparent;
    border-width: 0px 0px 1px 0px;
    border-style: dotted
}

.list-group-item:last-child {
    border: 0;
}

.list-group-item h4 {
    color: #fff;
    font-family: georgia, times, serif;
    font-style: italic;
    font-size: 1.5em;
}

.list-group-item span {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    background: #000;
    margin: 0 10px 10px 10px;
    font-size: 25px;
    color: #fff;
}

.steps img {
    margin-right: 20px;
}

footer img {
    margin-left: 10px;
    width: 50px;
    height: auto;
}

#categories.container {
    padding-top: 20px;
}

#cart {
    margin-top: 20px;
}

#cart h5 {
    text-decoration: underline;
    color: #990000;
    font-style: italic;
}

textarea {
    margin: 10px 0 !important;
}

/*output*/
.container.output {
    max-width: 1000px;
    margin-top: 70px;
}

canvas {
    border: 1px solid #ccc;
}

.pic {
    color: green
}

.text {
    color: blue
}

.panel {
    overflow: hidden;
    border: 5px solid #EDEFF1;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

.product-details {
    padding-top: 20px;
}

h2.price {
    margin: 0;
}

.section-title {
    background: #EDEFF1;
    color: #5D697E;
    padding: 3px 5px;
    display: block;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #DDDDDD;
    font-weight: bold;
}

/*logo icons*/
.icons {
    text-align: center;
    vertical-align: middle;
}

.icons div {
    display: inline-block;
    border: 3px solid transparent;
    margin: 2px;
    vertical-align: middle;
}

.icons img {
    height: auto;
    width: 100%;
    max-width: 40px;
    max-height: 40px;
    vertical-align: middle;
}

.icons .active {
    border: 3px solid #7F9293 !important;
    display: inline-block;
}

/*footer css*/
.full {
    width: 100%;
}

.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}

.footer {
    background: #EDEFF1;
    height: auto;
    padding-bottom: 30px;
    margin-top: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}

.footer p {
    margin: 0;
}

.footer img {
    max-width: 100%;
}

.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 13px;
    font-weight: 600;
    line-height: 27px;
    padding: 30px 0 0px;
    text-transform: uppercase;
}

.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}

.footer ul li a {
    padding: 0;
    display: block;
}

.footer a {
    color: #78828D
}

.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

.newsletter-box input#appendedInputButton {
    background: #FFFFFF;
    display: inline-block;
    float: left;
    height: 30px;
    clear: both;
    width: 100%;
}

.newsletter-box .btn {
    border: medium none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    padding: 0;
    width: 100%;
    color: #fff;
}

.newsletter-box {
    overflow: hidden;
}

.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}

.social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}

.social li a {
    color: #EDEFF1;
}

.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}

.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #EDEFF1 !important;
}

.footer-bottom {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-bottom p.pull-left {
    padding-top: 6px;
}

.payments {
    font-size: 1.5em;
}