/* ==========================================================================
   Project Mango - Etchieve.com
   ========================================================================== */
body {font-family: Tahoma, Arial, sans-serif; padding-top: 50px; padding-bottom: 20px; }
hr { border-top: 1px dotted #ccc; }
.navbar-form .form-control { background: #000; border: 1px solid #555; }

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.splash { position: absolute; width:45%; max-height:448px; max-width:395px; height: auto;
top: -30px; z-index: 10; left:0;
}
.carousel { width: 55%; margin-left: 45%  }
.carousel-control, .carousel-indicators, .carousel-caption, .carousel-control.right, .carousel-control.left { z-index: 100; background: transparent; display:none; }



.jumbotron {
   padding: 28px 0; margin: 30px 0 0;
    background: -webkit-linear-gradient(#5d5d5d, #cbcbcb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#5d5d5d, #cbcbcb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#5d5d5d, #cbcbcb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5d5d5d, #cbcbcb); /* Standard syntax */

}
    .jumbotron .container { position:relative;
    }

.jumbotron p { font-size: inherit !important; margin: 0; z-index:5;}
.divider { border-top: 1px solid #aaa; border-bottom: 1px solid #aaa; color: #000;
    font-weight:bold; padding: 5px 0; text-align: center; margin-bottom: 25px; background: #efefef;
box-shadow: 0 2px 1px rgba(0,0,0,0.2)
}

.img-thumbnail, .thumbnail img { max-height: 165px; } .img-thumbnail:hover, .thumbnail:hover { border: 1px solid #999; box-shadow: 0 0 10px rgba(0,0,0,0.5)}
.item h2, .item p { font-size: 1.2em !important; margin: 0; padding: 5px; text-align: center; font-family: georgia, times, serif; font-style: italic; }

.steps { margin: 40px 0 0 0; }
.list-group { box-shadow: none; }
.list-group-item { background: transparent; border-width: 0px 0px 1px 0px; border-style: dotted }
.list-group-item:last-child{ border: 0;}
.list-group-item h4 { color: #fff; font-family: georgia, times, serif; font-style: italic; font-size: 1.5em;  }
.list-group-item span { width: 50px; height: 50px; border-radius: 50%; text-align: center; line-height: 50px;
background: #000; margin: 0 10px 10px 10px; font-size: 25px; color: #fff; }
.steps img { margin-right: 20px; }
footer img { margin-left: 10px; width: 50px; height:auto;  }

#categories.container { padding-top: 20px; }

#cart { margin-top: 20px; }
#cart h5 { text-decoration: underline; color: #990000; font-style: italic; }

textarea { margin: 10px 0 !important; }

/*output*/
.output { max-width: 1000px;}
canvas { border: 1px solid #ccc; }
#contents, .canvas { margin-top: 20px; }
.pic { color: green }
.text { color: blue }

/*logo icons*/
.icons { text-align: center; vertical-align: middle;}
.icons div { display: inline-block;
    border: 3px solid transparent; margin: 2px; vertical-align: middle;}
.icons img { height: auto; width: 100%; max-width: 40px; max-height: 40px; vertical-align: middle; }
.icons .active {
    border: 3px solid #7F9293 !important;
    display: inline-block;
}












